POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=testuser
POSTGRES_PASSWORD=testpassword
POSTGRES_DB=testdb
REDIS_HOST=localhost
REDIS_PORT=6379
MAIL_DOMAIN=testdomain
MAILBOX_TTL_MINUTES=50
BREVO_WEBHOOK_SECRET=yoursecret
RATE_LIMIT_PER_MINUTE=50